<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./home.css">
    <title>URL Shrinker</title>
</head>
<body >
    <div class="wrapper">
        <h1>URL Shrinker</h1>
        <!-- Logout button and username display -->
        <div>
            <div>
                <% if (locals.username) { %>
                    <span class="profile-name"><%= locals.username %></span>
                <% } %>
            </div>
                <button onclick="logout()"  class="logout-btn">Logout</button>
  
        </div>
        <br><br>

        <form action="/url" method="post">
            <span class="input-box">
                <input type="text" placeholder="https://example.com" name="redirectUrl" required>
            </span>
            <button type="submit" class="gen-btn">Generate </button>
        </form>




        <% if (locals.urls) { %>
        <div class="table">

        <table>
            <thead>
                <tr>
                    <th class="th-1">S. No.</th>
                    <th >Original URL</th>
                    <th>Click Count</th>
                    <th class="th-4">Actions</th>
                </tr>
            </thead>
            <tbody>
                <% for (let i = urls.length - 1; i >= 0; i--) { %>
                    <tr >
                        <td ><%= urls.length - i %></td>
                        <td ><%= urls[i].redirectUrl %></td>
                        <td ><%= urls[i].visitHistory.length %></td>
                        <td >
                            <button onclick="copyToClipboard('<%= urls[i].shortId %>')" class="btn-c">Copy</button>
                            <form action="/delete" method="post" style="display: inline;">
                                <input type="hidden" name="shortId" value="<%= urls[i].shortId %>">
                                <button class="btn-d">Delete</button>
                            </form>
                        </td>
                    </tr>
        
                <% } %>
                <tr>
                    <td class="last-1"></td>
                    <td></td>
                    <td></td>
                    <td class="last-4"></td>
                </tr>
            </tbody>
        </table>

    </div>
        <% } %>
    </div>

    <script>
        function logout() {
            // Clear the cookie by setting an empty value and an expiry date in the past
            console.log('Resetting username cookie');
document.cookie = 'uid=; username=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;';


            // Redirect to the logout page or any other desired action
            window.location.href = '/'; // Replace '/logout' with your actual logout endpoint or page
        }

        function copyToClipboard(text) {
            const domain = window.location;
            navigator.clipboard.writeText(domain+text).then(function() {
                alert('Copied to clipboard!');
            }, function(err) {
                console.error('Unable to copy to clipboard: ', err);
            });
        }
    </script>
</body>
</html>
